.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    color: black;
    z-index: 99;
    top: 0;
}

.nav-links a {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    padding: .5em;
    text-decoration: none;
}

.logo img {
    height: 1.2em;
    animation: logo 5s infinite linear;
}

@keyframes logo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nav-links {
    margin-right: 4em;
}

/* LOGO */
.logo {
    font-size: 32px;
    margin-left: 4em;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: .5em;
    font-size: 18px;
}

.menu li a:hover {
    background-color: orange;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    list-style: none;
    padding: 5px 14px;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 40px;
    font-weight: 500;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 700px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgba(150, 150, 150, 0.9);
        right: 0;
        left: 0;
        text-align: center;
        padding: 20px;
    }

    .navbar {
        padding-top: 0em;
    }

    .logo {
        margin-left: 1em;
    }

    .nav-links {
        margin-right: 1em;
    }

    .menu li a{
        color: white;
    }
    
    .menu li a:hover {
        background-color: orange;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 25px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}