@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

strong {
    color: red;
}

b {
    color: green;
}

.dot {
    color: orange;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.icon img {
    height: 3em;
    padding: 1em;
}

::-webkit-scrollbar {
    display: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #FCFCFF;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.exp {
    padding-top: 2em;
    font-weight: 500;
    font-size: 1.1em;
}

.disppear {
    animation: vanish 4s forwards;
}

@keyframes vanish {
    from {
        visibility: visible;
        opacity: 100;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

.one,
.two,
.three {
    /* background-color: blue; */
    padding-top: 2em;
    height: 50em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: -2;
}

.row1 img {
    transform: translateY(-3%);
    animation: floater 4s infinite;
    transition: ease 0.5s;
    height: auto;
    z-index: -2;
    /* background-color: black; */
}

.text {
    width: 40em;
    /* background-color: aquamarine; */
}

.text h1 {
    display: inline;
    font-size: 3em;
    /* background-color: beige; */
}

.text p {
    font-size: 1.5em;
    /* background-color: blanchedalmond; */
}

.four {
    display: flex;
    flex-direction: column;
    height: 50em;
    z-index: -2;
    /* background-color: blueviolet; */
}

.four .row1 img {
    /* background-color: brown; */
    height: 20em;
    z-index: -2;
}

.col,
.col2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: chartreuse; */
}

@keyframes floater {
    0% {
        transform: translateY(-3%);
        transition: ease 1s;
    }

    50% {
        transform: translateY(3%);
        transition: ease 1s;
    }
}

@media (max-width: 700px) {
    .loader img{
        height: 15em;
        background-size: contain;
    }

    .one,
    .three {
        flex-direction: column-reverse;
    }

    .two {
        flex-direction: column;
    }

    .col {
        flex-direction: column-reverse;
    }

    .col2 {
        flex-direction: column;
    }

    .row1 img {
        height: 20em;
    }

    .text {
        width: 20em;
        margin-top: 4em;
    }

    .four {
        height: 70em;
    }

    .four .row1 img {
        height: 15em;
    }

    .icon img {
        height: 1.8em;
    }
}

/* footer  */
footer {
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    padding-left: 10em;
    padding-right: 10em;
}

.title ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title ul a {
    text-decoration: none;
    padding: 1em;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
}

.title p a{
    text-decoration: none;
    color: palevioletred;
}

.title ul a:hover {
    color: orange;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 2.5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.socialmedia a,
.foot a {
    text-decoration: none;
    color: gray;
}

.socialmedia a:hover,
.foot a:hover {
    color: orange;
}

@media (max-width: 700px) {
    footer {
        padding-left: 0;
        padding-right: 0;
    }

    .socialmedia {
        display: flexbox;
        gap: .5em;
    }

}

/* footer ends  */
