@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* scroll-snap-align: start; */
}

.container {
    /* scroll-snap-type: y proximity; */
    /* overflow-y: scroll; */
    height: 100vh;
    padding-left: 10em;
    padding-right: 10em;
}

.one {
    background-color: transparent;
    position: relative;
    z-index: -1;
}

.two {
    background-color: transparent;
    position: relative;
    z-index: -1;
}

.three {    
    margin-top: 4em;
    z-index: -1;
}

.loader {
    background: white url(Assets/loader.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.disppear {
    animation: vanish 3s forwards;
}

@keyframes vanish {
    from {
        visibility: visible;
        opacity: 100;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}


.float-area,
.float-area2 {
    display: flex;
    align-items: center;
}

.floating-img {
    transform: translateY(-3%);
    animation: floater 4s infinite;
    transition: ease 0.5s;
    height: auto;
    position: absolute;
    left: 0;
}

.floating-img2 {
    transform: translateY(-3%);
    animation: floater 4s infinite;
    transition: ease 0.5s;
    height: auto;
    position: absolute;
    right: 0;
}

.text {
    border-radius: 20px;
    padding: 2em;
    position: absolute;
}

.text2 {
    border-radius: 20px;
    padding: 2em;
    position: absolute;
    left: 0;
    width: 40em;
}

.dot {
    color: orange;
}

.text h1,
.text2 h1,
.text3 h1 {
    display: inline;
    font-size: 3em;
}

.text p,
.text2 p,
.text3 p {
    font-size: 1.5em;
}

strong {
    color: red;
}

@keyframes floater {
    0% {
        transform: translateY(-3%);
        transition: ease 1s;
    }

    50% {
        transform: translateY(3%);
        transition: ease 1s;
    }
}

@media (max-width: 768px) {

    .container {
        padding-left: 1em;
        padding-right: 1em;
    }

    .float-area {
        flex-direction: column-reverse;
    }

    .float-area2 {
        flex-direction: column;
    }

    .text {
        margin-bottom: 2em;
    }

    .text2 {
        width: 20em;
        top: 0;
        margin-top: 2.5em;
    }

    .text h1,
    .text2 h1{
        font-size: 2em;
    }

    .text p,
    .text2 p{
        font-size: 1.5em;
    }

    .floating-img {
        height: 25em;
        padding-left: 0;
        bottom: 0;
        padding-bottom: 2em
    }
    .floating-img2{
        margin-top: 2.5em;
    }
}

/* footer  */
footer {
    text-align: center;
    margin-top: 2em;
    padding: 1em;
    padding-left: 10em;
    padding-right: 10em;
}

.title ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title ul a {
    text-decoration: none;
    padding: 1em;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
}

.title ul a:hover {
    color: orange;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font-size: 2.5em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.socialmedia a,
.foot a {
    text-decoration: none;
    color: gray;
}

.socialmedia a:hover,
.foot a:hover {
    color: orange;
}

@media (max-width: 768px) {
    footer {
        padding-left: 0;
        padding-right: 0;
    }

    .socialmedia {
        display: flexbox;
        gap: .5em;
    }
    .row1{
        flex-direction: column-reverse;
    }
    .row2{
        flex-direction: column;
    }
    .row1 p{
        margin-right: 0;
        margin-left: 4.5em;
        width: 15em;
    }
    .row2 p{
        margin-right: 3.5em;
        margin-left: 0;
        width: 15em;
    }
}

/* footer ends  */

.row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row1 img{
    height: 20em;
    transform: translateY(-3%);
    animation: floater 4s infinite;
}
.row1 p{
    font-size: 1.5em;
    margin-right: 4em;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row2 img{
    height: 20em;
    transform: translateY(-3%);
    animation: floater 4s infinite;
}
.row2 p{
    font-size: 1.5em;
    margin-left: 4em;
}